{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header text-center">
            <h1>{{ game.home }} : {{ game.away }}</h1>
            <div class="d-flex justify-content-center">
                {% if app.user %}
                    {% if app.user.email == game.owner.email %}
                        <div class="btn-group-vertical btn-group-sm me-3">
                            <a class="btn btn-secondary" href="{{ path('app_game_increase_home', {'id': game.id}) }}">H+</a>
                            <a class="btn btn-secondary" href="{{ path('app_game_decrease_home', {'id': game.id}) }}">H-</a>
                        </div>
                    {% endif %}
                {% endif %}
                <h2 style="font-size: 3rem">{{ game.homepoints }} : {{ game.awaypoints }}</h2>
                {% if app.user %}
                    {% if app.user.email == game.owner.email %}
                        <div class="btn-group-vertical btn-group-sm ms-3">
                            <a class="btn btn-secondary" href="{{ path('app_game_increase_away', {'id': game.id}) }}">A+</a>
                            <a class="btn btn-secondary" href="{{ path('app_game_decrease_away', {'id': game.id}) }}">A-</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <p2 class="small">{{ game.location }}</p2>
            <p>{{ game.datetime ? game.datetime|date('d.m.Y H:i') : '' }}</p>
        </div>
    </div>

    <button class="btn btn-secondary mb-3" onclick="window.location.reload();">Aktualisieren</button>

    {% if app.user %}
    {% if app.user.email == game.owner.email %}
    <div class="card mb-4">
        <div class="card-body">
            {{ render(controller('App\\Controller\\GameCommandController::gameEventForm', {'id': game.id})) }}
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% for event in game.gameevents %}
        <div class="card mb-2">
            <div class="card-body">
                {{ event.timecode }} - {{ event.message }}
            </div>
        </div>
    {% endfor %}

    <a class="btn btn-secondary" href="{{ path('app_game_index') }}">Zurück</a>

    {% if app.user %}
        {% if app.user.email == game.owner.email %}
            <a class="btn btn-secondary" href="{{ path('app_game_edit', {'id': game.id}) }}">Bearbeiten</a>

        {% endif %}
    {% endif %}

{% endblock %}
