<header class="navbar-light fixed-top header-static bg-mode">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_game_index') }}">
                tickerly
            </a>

            <button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-animation">
              <span></span>
              <span></span>
              <span></span>
            </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_game_index') }}">Startseite</a>
                    </li>
                </ul>
            </div>

            <ul class="nav flex-nowrap align-items-center ms-sm-3 list-unstyled">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item ms-2 text-nowrap">
                        {{ app.user.email }}
                    </li>
                    <li class="nav-item ms-2 text-nowrap">
                        <a class="nav-link"
                           href="{{ path('app_logout') }}">Abmelden</a>
                    </li>
                {% else %}
                    <li class="nav-item ms-2 text-nowrap">
                        <a class="nav-link"
                           href="{{ path('app_login') }}">Anmelden</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>